<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <title>Codevo - Ecommerce Website</title>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="nav">
      <div class="wrapper container">
        <div class="logo"><a href="">ALEX-SHOP</a></div>
        <ul class="nav-list">
          <div class="top">
            <label for="" class="btn close-btn"
              ><i class="fas fa-times"></i
            ></label>
          </div>
          <li><a href="/index">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li>
            <a href="" class="desktop-item"
              >Shop <span><i class="fas fa-chevron-down"></i></span
            ></a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item"
              >Shop <span><i class="fas fa-chevron-down"></i></span
            ></label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <img src="./images/woman.jpg" alt="" />
                </div>
                <div class="row">
                  <header>Shop Layout</header>
                  <ul class="mega-links">
                    <li><a href="#">Shop With Background</a></li>
                    <li><a href="#">Shop Mini Categories</a></li>
                    <li><a href="#">Shop Only Categories</a></li>
                    <li><a href="#">Shop Icon Categories</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header>Filter Layout</header>
                  <ul class="mega-links">
                    <li><a href="#">Sidebar</a></li>
                    <li><a href="#">Filter Default</a></li>
                    <li><a href="#">Filter Drawer</a></li>
                    <li><a href="#">Filter Dropdown</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header>Product Layout</header>
                  <ul class="mega-links">
                    <li><a href="#">Layout Zoom</a></li>
                    <li><a href="#">Layout Sticky</a></li>
                    <li><a href="#">Layout Sticky 2</a></li>
                    <li><a href="#">Layout Scroll</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="" class="desktop-item"
              >Vendors <span><i class="fas fa-chevron-down"></i></span
            ></a>
            <input type="checkbox" id="showdrop1" />
            <label for="showdrop1" class="mobile-item"
              >Vendors <span><i class="fas fa-chevron-down"></i></span
            ></label>
            <ul class="drop-menu1">
              <li><a href="">Vendor Store listings</a></li>
              <li><a href="">Store Details</a></li>
            </ul>
          </li>

          <li>
            <a href="" class="desktop-item"
              >Page <span><i class="fas fa-chevron-down"></i></span
            ></a>
            <input type="checkbox" id="showdrop2" />
            <label for="showdrop2" class="mobile-item"
              >Page <span><i class="fas fa-chevron-down"></i></span
            ></label>
            <ul class="drop-menu2">
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Faq</a></li>
              <li><a href="">Page 404</a></li>
            </ul>
          </li>
          <!-- icons -->
          <li><a href="/login">Login</a></li>
          <li class="icons">
            <a href="/cart">
            <span>
              <img src="../../images/shoppingBag.svg" alt="" />
              <small id ="Count" class="count d-flex">{{totalQuantity}}</small>
            </span>
            </a>
            <span><img src="../images/search.svg" alt="" /></span>
          </li>
        </ul>
        <label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
      </div>
    </nav>

    <!-- Cart Items -->
    <div class="container cart">
      
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        {{#each cart}}
        <tr>
          <td>
            <div class="cart-info">
              <img src= {{this.item.cover}} alt="" />
              <div>
                <p>{{this.item.title}}</p>
                <span id="{{this.item._id}}price">Price: {{this.item.basePrice}}</span>
                <br />
                <a href="/cart/remove-from-cart/{{this.item._id}}">Remove</a>
              </div>
            </div>
          </td>
          <td><input class ="Qty" id ={{this.item._id}} type="number" value= {{Quantity}} min="1" onchange="changeQuantity(this.id)" /></td>
          <td class ="subPrice" id="{{this.item._id}}subprice">{{Price}}</td>
        </tr>
        {{/each}}
      </table>

      <div class="total-price">
        <table>
          {{!-- <tr>
            <td>Subtotal</td>
            <td>$200</td>
          </tr> --}}
          <tr>
            <td>Quantity</td>
            <td id ="totalQty">{{totalQuantity}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td id ="totalPrice">{{totalPrice}}</td>
          </tr>
        </table>
        <a href="#" class="checkout btn">Proceed To Checkout</a>
      </div>
      
    </div>

     <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>EXTRAS</h3>
          <a href="#">Brands</a>
          <a href="#">Gift Certificates</a>
          <a href="#">Affiliate</a>
          <a href="#">Specials</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>MY ACCOUNT</h3>
          <a href="#">My Account</a>
          <a href="#">Order History</a>
          <a href="#">Wish List</a>
          <a href="#">Newsletter</a>
          <a href="#">Returns</a>
        </div>
        <div class="footer-center">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            42 Dream House, Dreammy street, 7131 Dreamville, USA
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            company@gmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            456-456-4512
          </div>
          <div class="payment-methods">
            <img src="../images/payment.png" alt="">
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Custom Scripts -->
    <script src="../javascripts/products.js"></script>
    <script src="../javascripts/slider.js"></script>
    <script src="../javascripts/index.js"></script>
    <script src="../javascripts/cart.js"></script>
  </body>
</html>
